<div class="container my-3 my-xl-0">
  <div class="card shadow-sm" style="border-radius: 8px">
    <div class="card-header fw-bold">Rincian Harga</div>
    <div class="card-body">
      <div id="listRincian" class="container">
        <!-- price items -->
      </div>
    </div>
    <div class="card-footer fw-semibold">
      <div class="row">
        <div class="col">Harga yang dibayar</div>
        <div id="priceTotal" class="col text-end">
          <!-- total -->
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 mt-3">
    <button id="bookNow" type="button" class="btn fs-5 fw-semibold btn-warning">Lanjutkan Pembayaran</button>
  </div>
</div>
