<div class="container">
  <div class="card shadow-sm" style="border-radius: 16px">
    <div class="card-body">
      <!-- icons -->
      <div class="position-relative">
        <div class="position-absolute fs-4" style="top: 4px; right: 4px">
          <a href="#" class="text-decoration-none"><i class="bi bi-bookmark text-info me-2"></i></a>
          <a href="#" class="text-decoration-none"><i class="bi bi-share text-info"></i></a>
        </div>
      </div>

      <h5 id="headerJudulPemesanan" class="card-title">
        <!-- booking -->
      </h5>
      <h6 class="card-subtitle mt-3 text-muted">
        <div class="d-flex align-items-center mb-5">
          <span class="material-symbols-outlined text-info me-2" style="font-size: 18px">flight_takeoff</span>
          <span id="headerSubJudulPemesanan">
            <!-- booking info -->
          </span>
        </div>
      </h6>
    </div>
  </div>
</div>
