<div class="container">
  <div class="card shadow-sm" style="border-radius: 16px">
    <div class="card-body p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 p-0">
            <div class="card" style="border-radius: 16px">
              <div class="card-body text-center text-md-start">
                <h5 id="judulPencarian" class="card-title">
                  <!-- search -->
                </h5>
                <h6 id="infoPencarian" class="card-subtitle mt-2 text-muted">
                  <!-- search info -->
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-2 d-flex p-2 align-items-center justify-content-center">
            <button type="button" class="btn btn-primary">
              <span><i class="bi bi-search"></i></span>
              Ganti
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
