<div class="container">
    <div class="row">
      <div class="col d-flex align-items-center">
        <h6 class="mx-2">Filter:</h6>
        <div class="mx-2 btn btn-light text-info" style="border-radius: 24px">
          Waktu
          <span id="caretFilterWaktu"><i class="bi bi-caret-down-fill"></i></span>
        </div>
        <div class="mx-2 btn btn-light text-info" style="border-radius: 24px">
          Maskapai
          <span id="caretFilterMaskapai"></span><i class="bi bi-caret-down-fill"></i></span>
        </div>
      </div>
    </div>
  </div>