<!---data akun-->
<div class="container mt-5 py-5">
  <div class="container-fluid">
    <div class="row justify-content-center shadow mt-5">
      <div class="col-6">
        <img
          src="../assets/undraw_online_stats_0g94.png"
          width="700px"
          height="400px"
          class="rounded float-start img-fluid"
        />
      </div>
      <div class="col-6 my-5 py-5 px-3">
        <div class="container bg-light fs-4 p-3">
          <div>Email: <span id="email"></span></div>
          <div>Nama: <span id="nama"></span></div>
          <div>Tanggal Lahir: <span id="tanggal-lahir"></span></div>
          <br />
          <button id="btnKembali" class="btn btn-warning">Kembali</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!---akhir akun-->
