<!-- awal daftar -->
<div class="container mt-5 py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 py-5 px-5 shadow" style="background-color: #d7f7fb; background-image: linear-gradient(white, rgb(172, 225, 246))">
        <div style="font-size:30px ;">Gabung menjadi member kami</legend>
        <br /><br />
        <div class="row">
          <div class="col-6">
            <div class="col mb-3">
              <label for="example@gmail.com" class="form-label">Email</label>
              <input type="text" id="email" class="form-control" placeholder="example@gmail.com" />
            </div>
            <div class="col mb-3">
              <label for="examplefullName" class="form-label">Full Name</label>
              <input type="text" id="FullName" class="form-control" />
            </div>
            <div class="col mb-3">
              <label for="exampletanggal" class="form-label">Tanggal Lahir</label>
              <input type="date" id="Tanggal" class="form-control" placeholder="09-10-1995" />
            </div>
            <br /><br />
            <a href="./jadwal.html" class="link" style="text-decoration: none">kembali ke home</a>
          </div>
          <div class="col-6">
            <div class="col mb-3">
              <label for="examplepassword" class="form-label">Password</label>
              <input type="password" id="password" class="form-control" />
            </div>
            <div class="col mb-3">
              <label for="examplepassword" class="form-label">Konfirmasi Password</label>
              <input type="password" id="konfirmasipassword" class="form-control" />
            </div>
            <br /><br />
            <div class="container-fluid text-end">
              <button  id="btnDaftar" type="submit" class="btn, border-0 px-5 py-2 ,col-md-8" style="background-color: #1285c2; color: white; font-size: 20px;">Daftar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>