<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 justify-content-center pb-3">
        <div class="d-flex justify-content-center fw-bold" style="font-size: 40px">Destinasi Populer</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 p-1">
        <div class="position-relative text-white fw-bold fs-3 text-center">
          <img class="img-fluid img-hover" src="../assets/5fabf6158ce8a.jpg" alt="bandung" />
          <div class="position-absolute translate-middle" style="top: 50%; left: 50%">Bandung</div>
        </div>
      </div>
      <div class="col-12 col-md-4 p-1">
        <div class="position-relative text-white fw-bold fs-3 text-center">
          <img class="img-fluid img-hover" src="../assets/wisata-jogja.jpg" alt="yogja" />
          <div class="position-absolute translate-middle" style="top: 50%; left: 50%">Yogyakarta</div>
        </div>
      </div>
      <div class="col-12 col-md-4 p-1">
        <div class="position-relative text-white fw-bold fs-3 text-center">
          <img class="img-fluid img-hover" src="../assets/bali.jpg" alt="bali" />
          <div class="position-absolute translate-middle" style="top: 50%; left: 50%">Bali</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 p-1">
        <div class="position-relative text-white fw-bold fs-3 text-center">
          <div class="container">
            <img class="img-fluid img-hover" src="../assets/Raja-Ampat.png" alt="Papua" />
          </div>
          <div class="position-absolute translate-middle" style="top: 50%; left: 50%">Papua</div>
        </div>
      </div>
      <div class="col-12 col-md-4 p-1">
        <div class="position-relative text-white fw-bold fs-3 text-center">
          <img class="img-fluid img-hover" src="../assets/Wisata-Pantai-Timor.jpg" alt="nusa tenggara timur" />
          <div class="position-absolute fs-6 translate-middle" style="top: 50%; left: 50%">Nusa Tenggara TImur</div>
        </div>
      </div>
      <div class="col-12 col-md-4 p-1">
        <div class="position-relative text-white fw-bold fs-3 text-center">
          <img class="img-fluid img-hover" src="../assets/Taman-Mini-Indonesia-Indah.jpg" alt="Jakarta" />
          <div class="position-absolute translate-middle" style="top: 50%; left: 50%">Jakarta</div>
        </div>
      </div>
    </div>
  </div>
</div>
