<div class="container mt-5">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-6">
        <img src="../assets/5165306.jpg" class="rounded float-start img-fluid" alt="" />
      </div>
      <div
        class="col-6 my-5 py-5 shadow"
        style="background-color: #d7f7fb; background-image: linear-gradient(white, rgb(172, 225, 246))"
      >
        <legend style="font-size: 30px">Login Ke akun Anda</legend>
        <div class="masuk">
          <div class="p-3 mb-3">
            <label for="email" class="form-label" style="font-size: 20px">Email</label>
            <input required type="email" class="form-control" id="email" style="font-size: 20px" />
          </div>
          <div class="p-3" style="font-size: 20px">
            <label for="password" class="form-label">Password</label>
            <input required type="password" class="form-control" id="password" />
            <br />
            <input id="btnShowPassword" type="checkbox" style="font-size: 20px" /> tampilkan sandi
          </div>
          <br />
          <div class="link">
            <div>
              <button
                id="btnLogin"
                class="border-0 px-4"
                style="background-color: #1285c2; color: white; font-size: 20px"
              >
                Login
              </button>
            </div>
            <br />
            <div>Belum punya akun ?</div>
            <a href="http://127.0.0.1:5500/daftar.html" style="text-decoration: none">Daftar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
