<nav class="navbar navbar-expand-md shadow-sm text-bg-info p-3">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <a class="navbar-brand align-middle mx-2" href="../index.html">
        <img
          id="brandLogo"
          alt="brand-logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top rounded float-start"
        />
        <span class="fw-semibold mx-2">flighsy</span>
      </a>
      <div class="navbar-nav mr-auto mb-2 mb-lg-0">
        <div class="nav-item">
          <a class="nav-link mx-2" href="#">About Us</a>
        </div>
        <div class="nav-item">
          <a class="nav-link mx-2" href="#">Contact Us</a>
        </div>
        <div id="navMasuk" class="nav-item mx-2">
          <button id="navBtnLogin" type="button" class="btn btn-light">Masuk</button>
        </div>
        <div id="navDaftar" class="nav-item mx-2">
          <button id="navBtnDaftar" type="button" class="btn btn-primary">Daftar</button>
        </div>
        <div id="navKeluar" class="nav-item mx-2">
          <button id="navBtnLogout" type="button" class="btn btn-primary" style="background-color: rgb(45, 163, 193)">
            Keluar
          </button>
        </div>
        <div id="navProfil" class="nav-item mx-2">
          <img id="navBtnProfil" src="../assets/account-6491185_960_720.png" width="32" alt="akun" />
        </div>
      </div>
    </div>
  </div>
</nav>
