<div class="container">
  <div class="row">
    <div
      class="col mt-5 mb-5 bg-warning shadow p-3 mb-5 bg-body rounded p-2 br rounded text-center"
    >
      <h1>Selamat Transaksi anda berhasil !</h1>
      <img
        src="../assets/Success.png"
        class="rounded mx-auto d-block mb-5 mt-4"
        alt="qris"
        width="200px"
        height="200px"
      />
      <h3>E-tiket telah kami kirim ke email anda</h3>
      <button id="successToHome" type="button" class="btn btn-primary mt-5">
        Kembali ke halaman awal
      </button>
    </div>
  </div>
</div>
