<div class="container">
  <div class="row">
    <div class="col-xl-8 mt-5">
      <h4>Pembayaran</h4>
      <div class="col-sm mt-5 container shadow p-3 mb-5 bg-body rounded p-2 br rounded">
        <img
          src="https://pngimg.com/uploads/qr_code/qr_code_PNG37.png"
          class="rounded mx-auto d-block"
          alt="..."
          width="200px"
          height="200px"
        />
      </div>
    </div>
    <div class="col-sm mt-5 container shadow p-3 mb-5 bg-body rounded p-2 br rounded">
      <div class="h4 pb-2 mb-4 border-bottom text-center">Detail Perjalanan</div>
      <div class="row">
        <div class="col text-center d-flex align-items-center">
          <div class="container p-0">
            <div id="fromTime">17:30</div>
            <div id="fromCode" class="btn btn-light" style="border-radius: 24px">CGK</div>
          </div>
        </div>
        <div class="col text-center d-flex align-items-center">
          <div class="container p-0">
            <div id="estTime">2h 30m</div>
            <div class="d-flex align-items-center justify-content-center m-0">
              <div class="dr-circle align-self-start"></div>
              <div class="dr-line flex-grow-1"></div>
              <div class="dr-circle-filled align-self-end"></div>
            </div>
            <div id="transferCount">Langsung</div>
          </div>
        </div>
        <div class="col text-center d-flex align-items-center">
          <div class="container p-0">
            <div id="destTime">19:00</div>
            <div id="destCode" class="btn btn-light" style="border-radius: 24px">SUB</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
